/*BODY PROPERTIES*/
#body {
		background:white;
	}

/*WRAPPER PROPERTIES*/
#wrapper {
		width:1024px;
		height:768px;
		overflow:hidden;
		background:white;
		position:relative;
		margin:auto;
		top:10px;
	}
#wrapper2 {
		width:900px;
		height:720px;
		overflow:hidden;
		background:white;
		float:left;
		position:absolute;
		
	}
	
/*NAV PROPERTIES*/
nav {
		height:768px;
		width:124px;
		float:right;
		background:white;
	}
	
nav ul {
	  	position:absolute;
	  	top:300px;
	  	left:860px;
	  	list-style:none;
	  	margin:0;
	  	position:absolute;
	  	}
	  	
nav a {
		text-decoration:none;
		font-family:ANDALE MONO;
		font-size:16px;
		color:grey;
		list-style-position:left;
		}
	
/*FOOTER PROPERTIES*/
#footer {
		height:48px;
		width:900px;
		overflow:hidden;
		background:white;
		position:absolute;
		left:0;
		bottom:0;
	}
	
#footer a {
		font-family:ANDALE MONO;
		font-size:16px;
		position:absolute;
		top:0;
		left:10px;
		text-decoration:none;
		color:grey;
		
		}

/*SCROLLINGPAGE PROPERTIES*/
#scrollingPage {
		height:100%;
		width:75%;
		background:white;
		right:0;
		position:absolute;
		z-index:1;
	
		}
#scrollingPage iframe {
		height:100%;
		width:100%;
	
}
		
/*RELATEDCONTENT PROPERTIES*/
#relatedContent {
		height:100%;
		width:25%;
		background:grey;
		-webkit-transition: .2s ease-in;
		-moz-transition: .2s ease-in;
   		-ms-transition: .2s ease-in;
   		-o-transition: .2s ease-in;
		transition: .2s ease-in;
		position:absolute;
		z-index:2;
		}

#relatedContent:hover {
		height:100%;
		width:75%;
		background:lightgrey;
		}
		
		
		
	