body {
		background:white;
		}
		
dl {
		font-family:andale mono;
		text-align: left;
		float:right;
		}
dt {
		font-size:18px;
		}
dd {
		font-size:14px;
		color:grey;
		}
img {
		float:right;
	}
/*PAGE 1 PROPERTIES*/

/*PAGE 2 PROPERTIES*/


		


		
